{% extends "layout.html" %}

{% block title %}
    error
{% endblock %}

{% block main %}

    <div class="alert alert-dark" role="alert">
    error: {{ top }}<br>
    {{ bottom }}
    </div>


{% endblock %}
~                                                                                                                                                                                                                                                                                         
~                        
