{% extends "layout.html" %}

{% block title %}
    info
{% endblock %}

{% block main %}

    <div class="alert alert-dark" role="alert">
    info:<br>
    {{ bottom }}
    </div>


{% endblock %}
~                                                                                                                                                                                                                                                                                         
~                        
