{% extends "layout.html" %}

{% block title %}
     - rain
{% endblock %}

{% block main %}

    <h1>rainfall</h1>
    <h2>{{ pwsid }}</h2>
    <br>

    <!-- display some gaugues -->
    <div class="container text-center">
      <div class="row">
        <div class="col">
            <h3>hourly rain: {{ currentwx.rainmm / 100 }} mm/hr</h3>

            <!-- https://www.jqueryscript.net/chart-graph/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin.html -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
            <script src="static/js/GaugeMeter.js"></script> 
            
            <div class="GaugeMeter" id="PreviewGaugeMeter_2" data-percent="{{ (currentwx.rainmm / 100) | round | int  }}" data-append="mm/hr" data-size="200" data-theme="White" data-back="RGBa(0,0,0,.1)" data-animate_gauge_colors="1" data-animate_text_colors="1" data-width="15" data-label="wind speed" data-style="Arch" data-label_color="#FFF"></div>

            <script>
                $(".GaugeMeter").gaugeMeter();
            </script>

            <table class="table text-start">
              <tr>
                <th>&nbsp;</th>
                <th>today</td>
                <th>this week</th>
                <th>this year</th>
              </tr>
              <tr>
                <td>high</td>
                <td>{{ wxrecords.todayrainmmhi / 100 }} mmi/hr</td>
                <td>{{ wxrecords.weekrainmmhi / 100 }} mm/hr</td>
                <td>{{ wxrecords.yearrainmmhi / 100 }} mm/hr</td>
              </tr>
            </table>

        </div>      

        <div class="col">
            <h3>daily rain {{ currentwx.dailyrainmm / 100  }} mm/day</h3>

            <div class="GaugeMeter" id="PreviewGaugeMeter_2" data-percent="{{ (currentwx.dailyrainmm / 100) | round | int  }}" data-append="mm/d" data-size="200" data-theme="White" data-back="RGBa(0,0,0,.1)" data-animate_gauge_colors="1" data-animate_text_colors="1" data-width="15" data-label="wind speed" data-style="Arch" data-label_color="#FFF"></div>

            <script>
                $(".GaugeMeter").gaugeMeter();
            </script>

            <table class="table text-start">
              <tr>
                <th>&nbsp;</th>
                <th>today</td>
                <th>this week</th>
                <th>this year</th>
              </tr>
              <tr>
                <td>high</td>
                <td>{{ wxrecords.todaydailyrainmmhi / 100 }} mm/day</td>
                <td>{{ wxrecords.weekdailyrainmmhi / 100 }} mm/day</td>
                <td>{{ wxrecords.yeardailyrainmmhi / 100 }} mm/day</td>
              </tr>
            </table>

        
        </div>

      </div>    
    </div>

{% endblock %}
