{% extends "layout.html" %}

{% block title %}
    weather summary
{% endblock %}

{% block main %}

    <h1>recent weather summary</h1>

    {% if rows == 0 %}

    <div class="alert alert-dark" role="alert">
    You haven't set a weather station up yet:   
    <a class="btn btn-dark" href="/addpws" role="button">add weather station</a>
    </div>

    {% else %}

        <h2>weather summary for {{ session["curpws"] }}</h2>

        <table class="table">
        <tr>
        <th>highest temperature</th>
        </tr>

        {% for row in wxsummary %}

            <tr>
                <td>{{ row.tempchi }} </td>
            </tr>

        {% endfor %}

        </table>


    {% endif %}

    


{% endblock %}
